@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px; }

.scheme-work {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .scheme-work h2 {
    text-transform: uppercase;
    font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
    font-weight: 600;
    margin-bottom: 50px; }
  .scheme-work__subtitle {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
    margin-bottom: 65px;
    max-width: 425px;
    line-height: 23px;
    opacity: 0.9;
    text-align: center; }
    .scheme-work__subtitle span {
      font-weight: 400; }
  .scheme-work__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .scheme-work__row::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #000;
      opacity: 0.3;
      top: 63%;
      left: 0; }
  .scheme-work__item {
    margin: 0 60px; }
    .scheme-work__item:first-child {
      margin-left: 0; }
    .scheme-work__item:last-child {
      margin-right: 0; }
    .scheme-work__item img {
      max-width: 80px;
      margin-bottom: 20px; }
  .scheme-work__item-title {
    font-weight: 400;
    margin-bottom: 30px; }
  .scheme-work__text {
    max-width: 109px;
    line-height: 20px;
    opacity: 0.5; }
    .scheme-work__text a {
      color: inherit; }

@media (max-width: 1045px) {
  .scheme-work__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .scheme-work__row::after {
      display: none; }
  .scheme-work__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
    .scheme-work__item:nth-child(1), .scheme-work__item:nth-child(2), .scheme-work__item:nth-child(3) {
      margin-bottom: 40px; }
  .scheme-work__text {
    text-align: center; } }

@media (max-width: 530px) {
  .scheme-work__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }
